    
<div>
    <h1>{{doctor.firstName}} {{doctor.lastName}}</h1>
    <img src="{{doctor.img_url}}" alt="{{doctor.firstName}} {{doctor.lastName}}">
    <table>
        <tr>
            <td>Speciality: </td>
            <td>{{doctor.speciality}}</td>
        </tr>
        <tr>
            <td>Location: </td>
            <td>{{doctor.city}}<span *ngIf="doctor.state">, {{doctor.state}}</span>, {{doctor.country}}</td>
        </tr>
        <tr>
            <td>Review: </td>
            <td>Review</td>
        </tr>
    </table>
</div>

<div>
    <h3>Similar Doctors</h3>
    <div *ngFor="let doctor of similarDoctors">
        <strong><a [routerLink]='["/profile", doctor.id]'>{{doctor.firstName}} {{doctor.lastName}}</a></strong>
    </div>
</div>